<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.template.repositories.TemplateGroupRepository">

  <sql id="selectTemplateGroup">
    select t.id,
           t.name,
           t.remark,
           t.is_enabled,
           t.is_systemic,
           t.is_deleted
    from t_template_group t
  </sql>

  <select id="find" resultType="cn.koala.template.entities.TemplateGroupEntity">
    <include refid="selectTemplateGroup"/>
    <where>
      t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value}
      <if test="name != null and name != ''">
        and t.name like concat(#{name}, '%')
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.template.entities.TemplateGroupEntity">
    <include refid="selectTemplateGroup"/>
    where t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.template.entities.TemplateGroupEntity">
    insert into t_template_group(id, name, remark)
    values (#{id}, #{name}, #{remark})
  </insert>

  <update id="update" parameterType="cn.koala.template.entities.TemplateGroupEntity">
    update t_template_group
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null">name=#{name},</if>
      <if test="remark != null">remark=#{remark},</if>
    </trim>
    where is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and id=#{id}
  </update>

  <update id="delete" parameterType="cn.koala.template.entities.TemplateGroupEntity">
    update t_template_group
    set is_deleted = ${@cn.koala.persist.domain.YesNo@YES.value}
    where id = #{id}
  </update>
</mapper>
