<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.template.mybatis.TemplateGroupRepository">

  <resultMap id="templateGroupResultMap" type="cn.koala.template.TemplateGroupEntity">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="isSystem" column="is_system"/>
    <result property="isDelete" column="is_delete"/>
    <collection property="templates" ofType="cn.koala.template.TemplateEntity">
      <id property="id" column="template.id"/>
      <result property="name" column="template.name"/>
      <result property="content" column="template.content"/>
    </collection>
  </resultMap>

  <sql id="selectTemplateGroup">
    select t.id,
           t.name,
           t.is_system,
           t.is_delete
    from t_template_group t
  </sql>

  <select id="findAll" resultType="cn.koala.template.TemplateGroupEntity">
    <include refid="selectTemplateGroup"/>
    <where>
      t.is_delete = 0
      <if test="parameters.name != null and parameters.name != ''">
        and t.name like concat(#{parameters.name}, '%')
      </if>
    </where>
  </select>

  <select id="findById" resultMap="templateGroupResultMap">
    select t.id,
           t.name,
           t.is_system,
           t.is_delete,
           template.id      as "template.id",
           template.name    as "template.name",
           template.content as "template.content"
    from t_template_group t
           left join t_template template on t.id = template.group_id and template.is_delete = 0
    where t.is_delete = 0
      and t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.template.TemplateGroupEntity">
    insert into t_template_group(id, name)
    values (#{id}, #{name})
  </insert>

  <update id="update" parameterType="cn.koala.template.TemplateGroupEntity">
    update t_template_group
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null">name=#{name},</if>
    </trim>
    where is_delete = 0 and id = #{id}
  </update>

  <update id="delete" parameterType="cn.koala.template.TemplateGroupEntity">
    update t_template_group
    set is_delete = 1
    where id = #{id}
  </update>
</mapper>
