<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.mybatis.CommonRepository">

  <resultMap id="abstractEntityResultMap" type="cn.koala.system.mybatis.AbstractEntity">
    <result property="sortIndex" column="sort_index"/>
    <result property="isSystem" column="is_system"/>
    <result property="isEnable" column="is_enable"/>
    <result property="isDelete" column="is_delete"/>
    <result property="createTime" column="createTime"/>
    <result property="createUser.id" column="createUser.id"/>
    <result property="createUser.name" column="createUser.name"/>
    <result property="lastModifyTime" column="lastModifyTime"/>
    <result property="lastModifyUser.id" column="lastModifyUser.id"/>
    <result property="lastModifyUser.name" column="lastModifyUser.name"/>
    <result property="deleteTime" column="deleteTime"/>
    <result property="deleteUser.id" column="deleteUser.id"/>
    <result property="deleteUser.name" column="deleteUser.name"/>
  </resultMap>

  <sql id="abstractEntityColumns">
    <include refid="cn.koala.system.mybatis.CommonRepository.sortColumn"/>,
    <include refid="cn.koala.system.mybatis.CommonRepository.stateColumns"/>,
    <include refid="cn.koala.system.mybatis.CommonRepository.auditColumns"/>
  </sql>
  <sql id="auditColumns">
    t.create_user_id as "createUser.id",
    t.create_user_name as "createUser.name",
    t.create_time,
    t.last_modify_user_id as "lastModifyUser.id",
    t.last_modify_user_name as "lastModifyUser.name",
    t.last_modify_time,
    t.delete_user_id as "deleteUser.id",
    t.delete_user_name as "deleteUser.name",
    t.delete_time
  </sql>
  <sql id="codeColumns">
    t.code,
    t.name,
    t.description
  </sql>
  <sql id="sortColumn">
    t.sort_index
  </sql>
  <sql id="stateColumns">
    t.is_system,
    t.is_enable,
    t.is_delete
  </sql>
</mapper>
