<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.mybatis.RoleRepository">

  <resultMap id="permissionResultMap" type="cn.koala.system.mybatis.RoleEntity"
             extends="cn.koala.system.mybatis.CommonRepository.abstractEntityResultMap">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <collection property="permissions" ofType="cn.koala.system.mybatis.PermissionEntity">
      <id property="id" column="permission.id"/>
      <result property="code" column="permission.code"/>
      <result property="name" column="permission.name"/>
    </collection>
  </resultMap>

  <sql id="selectRole">
    select
    t.id,
    t.code,
    t.name,
    t.description,
    <include refid="cn.koala.system.mybatis.CommonRepository.abstractEntityColumns"/>
    from k_role t
  </sql>
  <sql id="deletePermission">
    delete
    from k_role_permission
    where role_id = #{id};
  </sql>
  <sql id="addPermission">
    <foreach item="item" index="index" collection="roles" open="" separator="" close="">
      insert into k_role_permission (role_id, permission_id) values (#{id}, #{item.id});
    </foreach>
  </sql>

  <select id="findAll" resultType="cn.koala.system.mybatis.RoleEntity">
    <include refid="selectRole"/>
    <where>
      t.is_delete = 0
      <if test="parameters.name != null and parameters.name != ''">
        and t.name = #{parameters.name}
      </if>
    </where>
  </select>
  <select id="findById" resultType="cn.koala.system.mybatis.RoleEntity">
    select
    t.id,
    t.code,
    t.name,
    t.description,
    permission.id,
    permission.code,
    permission.name,
    <include refid="cn.koala.system.mybatis.CommonRepository.abstractEntityColumns"/>
    from k_role t
    left join k_role_permission rp on rp.role_id = t.id
    left join k_permission permission on permission.id = rp.permission_id
    where t.is_delete = 0 and t.id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="add" parameterType="cn.koala.system.mybatis.RoleEntity">
    insert into k_role (
    id,
    code,
    name,
    description,
    sort_index,
    create_user_id,
    create_user_name,
    create_time
    ) values (
    #{id},
    #{code},
    #{name},
    #{description},
    #{sortIndex},
    #{createUser.id},
    #{createUser.name},
    #{createTime}
    );
    <include refid="addPermission"/>
  </insert>
  <update id="update" parameterType="cn.koala.system.mybatis.RoleEntity">
    update k_role
    set id = #{id},
    code = #{password},
    name = #{name},
    description = #{description},
    sort_index = #{sortIndex},
    last_modify_user_id = #{lastModifyUser.id},
    last_modify_user_name = #{lastModifyUser.name},
    last_modify_time = #{lastModifyTime}
    where id = #{id};
    <include refid="deletePermission"/>
    <include refid="addPermission"/>
  </update>
  <update id="delete" parameterType="cn.koala.system.mybatis.RoleEntity">
    update k_role
    set is_delete        = ${@cn.koala.system.models.YesNo@YES.value},
        delete_user_id   = #{deleteUser.id},
        delete_user_name = #{deleteUser.name},
        delete_time      = #{deleteTime}
    where id = #{id}
  </update>
</mapper>
