<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repositories.DepartmentRepository">

  <sql id="selectDepartment">
    select t.id,
           t.name,
           t.remark,
           t.parent_id,
           t.is_enable,
           t.is_system,
           t.is_delete,
           t.create_user_id,
           t.create_time,
           t.last_update_user_id,
           t.last_update_time,
           t.delete_user_id,
           t.delete_time
    from system_department t
  </sql>

  <insert id="insert" parameterType="cn.koala.system.entities.DepartmentEntity">
    insert into system_department(id, name, remark, parent_id, create_user_id, create_time)
    values (#{id}, #{name}, #{remark}, #{parentId}, #{createUserId}, #{createTime})
  </insert>

  <update id="deleteById" parameterType="cn.koala.system.entities.DepartmentEntity">
    update system_department
    set is_delete      = ${@cn.koala.mybatis.YesNo@YES.value},
        delete_user_id = #{deleteUserId},
        delete_time    = #{deleteTime}
    where id = #{id}
  </update>

  <update id="updateById" parameterType="cn.koala.system.entities.DepartmentEntity">
    update system_department
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null">name=#{name},</if>
      <if test="remark != null">remark=#{remark},</if>
      <if test="parentId != null">parent_id=#{parentId},</if>
      last_update_user_id = #{lastUpdateUserId},
      last_update_time = #{lastUpdateTime},
    </trim>
    where is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and id=#{id}
  </update>

  <select id="findById" resultType="cn.koala.system.entities.DepartmentEntity">
    <include refid="selectDepartment"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and t.id = #{id}
  </select>

  <select id="findAll" resultType="cn.koala.system.entities.DepartmentEntity">
    <include refid="selectDepartment"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value}
  </select>
</mapper>
