<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repositories.DictionaryItemRepository">

  <sql id="selectDictionaryItem">
    select t.id,
           t.code,
           t.name,
           t.remark,
           t.dictionary_id,
           t.is_enabled,
           t.is_systemic,
           t.is_deleted,
           t.created_by,
           t.created_time,
           t.last_modified_by,
           t.last_modified_time,
           t.deleted_by,
           t.deleted_time
    from sys_dictionary_item t
  </sql>

  <select id="find" parameterType="map" resultType="cn.koala.system.entities.DictionaryItemEntity">
    <include refid="selectDictionaryItem"/>
    <where>
      t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value}
      <if test="code != null and code != ''">
        and t.code like concat(#{code}, '%')
      </if>
      <if test="name != null and name != ''">
        and t.name like concat(#{name}, '%')
      </if>
      <if test="dictionaryId != null and dictionaryId != ''">
        and t.dictionary_id = #{dictionaryId}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.entities.DictionaryItemEntity">
    <include refid="selectDictionaryItem"/>
    where t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.system.entities.DictionaryItemEntity">
    insert into sys_dictionary_item(id, code, name, remark, dictionary_id, created_by, created_time)
    values (#{id}, #{code}, #{name}, #{remark}, #{dictionaryId}, #{createdBy}, #{createdTime})
  </insert>


  <update id="update" parameterType="cn.koala.system.entities.DictionaryItemEntity">
    update sys_dictionary_item
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="remark != null">remark=#{remark},</if>
      last_modified_by = #{lastModifiedBy},
      last_modified_time = #{lastModifiedTime},
    </trim>
    where is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and id=#{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.entities.DictionaryItemEntity">
    update sys_dictionary_item
    set is_deleted   = ${@cn.koala.persist.domain.YesNo@YES.value},
        deleted_by   = #{deletedBy},
        deleted_time = #{deletedTime}
    where id = #{id}
  </update>
</mapper>
