<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repository.DictionaryRepository">

  <sql id="selectDictionary">
    select t.id,
           t.code,
           t.name,
           t.remark,
           t.is_enabled,
           t.is_systemic,
           t.is_deleted,
           t.created_by,
           t.created_time,
           t.last_modified_by,
           t.last_modified_time,
           t.deleted_by,
           t.deleted_time
    from k_dict t
  </sql>

  <sql id="orderBy">
    <choose>
      <when test="orders != null and orders.size() > 0">
        <foreach collection="orders" item="order" index="index" open=" order by " close="" separator=",">
          <include refid="orderByField"/>
        </foreach>
      </when>
      <otherwise>
        order by t.id asc
      </otherwise>
    </choose>
  </sql>

  <sql id="orderByField">
    <if test="order.property == 'code'">
      t.code
      <include refid="cn.koala.mybatis.repository.CommonRepository.orderDirection"/>
    </if>
    <if test="order.property == 'name'">
      t.name
      <include refid="cn.koala.mybatis.repository.CommonRepository.orderDirection"/>
    </if>
    <if test="order.property == 'createdTime'">
      t.created_time
      <include refid="cn.koala.mybatis.repository.CommonRepository.orderDirection"/>
    </if>
  </sql>

  <select id="list" resultType="cn.koala.system.entities.DictionaryEntity">
    <include refid="selectDictionary"/>
    <where>
      t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value}
      <if test="code != null and code != ''">
        and t.code = #{code}
      </if>
      <if test="codeLike != null and codeLike != ''">
        and t.code like concat(#{codeLike}, '%')
      </if>
      <if test="name != null and name != ''">
        and t.name = #{name}
      </if>
      <if test="nameLike != null and nameLike != ''">
        and t.name like concat(#{nameLike}, '%')
      </if>
    </where>
    <include refid="orderBy"/>
  </select>

  <select id="load" resultType="cn.koala.system.entities.DictionaryEntity">
    <include refid="selectDictionary"/>
    where t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and t.id = #{id}
  </select>

  <insert id="create" parameterType="cn.koala.system.entities.DictionaryEntity" useGeneratedKeys="true"
          keyProperty="id">
    insert into k_dict(id, code, name, remark, created_by, created_time)
    values (#{id}, #{code}, #{name}, #{remark}, #{createdBy}, #{createdTime})
  </insert>

  <update id="update" parameterType="cn.koala.system.entities.DictionaryEntity">
    update k_dict
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="remark != null">remark=#{remark},</if>
      last_modified_by = #{lastModifiedBy},
      last_modified_time = #{lastModifiedTime},
    </trim>
    where is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and id=#{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.entities.DictionaryEntity">
    update k_dict
    set is_deleted   = ${@cn.koala.persist.domain.YesNo@YES.value},
        deleted_by   = #{deletedBy},
        deleted_time = #{deletedTime}
    where id = #{id}
  </update>
</mapper>
