<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repositories.PermissionRepository">

  <sql id="selectPermission">
    select t.id,
           t.code,
           t.name,
           t.type,
           t.icon,
           t.url,
           t.component,
           t.remark,
           t.parent_id,
           t.is_enable,
           t.is_system,
           t.is_delete,
           t.create_user_id,
           t.create_time,
           t.last_update_user_id,
           t.last_update_time,
           t.delete_user_id,
           t.delete_time
    from system_permission t
  </sql>

  <insert id="insert" parameterType="cn.koala.system.entities.PermissionEntity">
    insert into system_permission(id, code, name, type, icon, url, component, remark, parent_id, create_user_id,
                                  create_time)
    values (#{id}, #{code}, #{name}, #{type}, #{icon}, #{url}, #{component}, #{remark}, #{parentId}, #{createUserId},
            #{createTime})
  </insert>

  <update id="deleteById" parameterType="cn.koala.system.entities.PermissionEntity">
    update system_permission
    set is_delete      = ${@cn.koala.mybatis.YesNo@YES.value},
        delete_user_id = #{deleteUserId},
        delete_time    = #{deleteTime}
    where id = #{id}
  </update>

  <update id="update" parameterType="cn.koala.system.entities.PermissionEntity">
    update system_permission
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="type != null">type=#{type},</if>
      <if test="icon != null">icon=#{icon},</if>
      <if test="url != null">url=#{url},</if>
      <if test="component != null">component=#{component},</if>
      <if test="remark != null">remark=#{remark},</if>
      <if test="parentId != null">parent_id=#{parentId},</if>
      last_update_user_id = #{lastUpdateUserId},
      last_update_time = #{lastUpdateTime},
    </trim>
    where is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and id=#{id}
  </update>

  <select id="findById" resultType="cn.koala.system.entities.PermissionEntity">
    <include refid="selectPermission"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and t.id = #{id}
  </select>

  <select id="findAll" resultType="cn.koala.system.entities.PermissionEntity">
    <include refid="selectPermission"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value}
  </select>
</mapper>
