<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repositories.RoleRepository">

  <sql id="selectRole">
    select t.id,
           t.code,
           t.name,
           t.remark,
           t.is_enabled,
           t.is_systemic,
           t.is_deleted,
           t.created_by,
           t.created_time,
           t.last_modified_by,
           t.last_modified_time,
           t.deleted_by,
           t.deleted_time
    from sys_role t
  </sql>

  <select id="find" resultType="cn.koala.system.entities.RoleEntity">
    <include refid="selectRole"/>
    <where>
      t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value}
      <if test="code != null and code != ''">
        and t.code like concat(#{code}, '%')
      </if>
      <if test="name != null and name != ''">
        and t.name like concat(#{name}, '%')
      </if>
    </where>
  </select>

  <insert id="add" parameterType="cn.koala.system.entities.RoleEntity" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role(id, code, name, remark, created_by, created_time)
    values (#{id}, #{code}, #{name}, #{remark}, #{createdBy}, #{createdTime})
  </insert>

  <update id="update" parameterType="cn.koala.system.entities.RoleEntity">
    update sys_role
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="remark != null">remark=#{remark},</if>
      last_modified_by = #{lastModifiedBy},
      last_modified_time = #{lastModifiedTime},
    </trim>
    where is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and id=#{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.entities.RoleEntity">
    update sys_role
    set is_deleted   = ${@cn.koala.persist.domain.YesNo@YES.value},
        deleted_by   = #{deletedBy},
        deleted_time = #{deletedTime}
    where id = #{id}
  </update>

  <select id="findById" resultType="cn.koala.system.entities.RoleEntity">
    <include refid="selectRole"/>
    where t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and t.id = #{id}
  </select>

  <select id="findAllCheckedPermissionIdById" resultType="java.lang.Long">
    select permission_id
    from sys_role_permission
    where role_id = #{id}
      and is_half_checked = ${@cn.koala.persist.domain.YesNo@NO.value}
  </select>

  <insert id="authorize">
    delete from sys_role_permission where role_id = #{id};
    <if test="!checkedIds.isEmpty() || !halfCheckedIds.isEmpty()">
      insert into sys_role_permission values
      <foreach item="checkedId" index="index" collection="checkedIds">
        (#{id}, #{checkedId}, ${@cn.koala.persist.domain.YesNo@NO.value}),
      </foreach>
      <foreach item="halfCheckedId" index="index" collection="halfCheckedIds" separator=",">
        (#{id}, #{halfCheckedId}, ${@cn.koala.persist.domain.YesNo@YES.value})
      </foreach>
    </if>
  </insert>
</mapper>
