<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.repositories.UserRepository">

  <sql id="selectUser">
    select t.id,
           t.username,
           t.nickname,
           t.avatar,
           t.email,
           t.mobile,
           t.remark,
           t.sort_index,
           t.is_enable,
           t.is_system,
           t.is_delete,
           t.create_user_id,
           t.create_time,
           t.last_update_user_id,
           t.last_update_time,
           t.delete_user_id,
           t.delete_time
    from system_user t
  </sql>

  <insert id="insert" parameterType="cn.koala.system.entities.UserEntity">
    insert into system_user(id, username, password, nickname, avatar, email, mobile, remark, create_user_id,
                            create_time)
    values (#{id}, #{username}, #{password}, #{nickname}, #{avatar}, #{email}, #{mobile}, #{remark}, #{createUserId},
            #{createTime})
  </insert>

  <update id="deleteById" parameterType="cn.koala.system.entities.UserEntity">
    update system_user
    set is_delete      = ${@cn.koala.mybatis.YesNo@YES.value},
        delete_user_id = #{deleteUserId},
        delete_time    = #{deleteTime}
    where id = #{id}
  </update>

  <update id="updateById" parameterType="cn.koala.system.entities.UserEntity">
    update system_user
    <trim prefix="set" suffixOverrides=",">
      <if test="username != null">username=#{username},</if>
      <if test="nickname != null">nickname=#{nickname},</if>
      <if test="avatar != null">avatar=#{avatar},</if>
      <if test="email != null">email=#{email},</if>
      <if test="mobile != null">mobile=#{mobile},</if>
      <if test="remark != null">remark=#{remark},</if>
      last_update_user_id = #{lastUpdateUserId},
      last_update_time = #{lastUpdateTime},
    </trim>
    where is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and id=#{id}
  </update>

  <select id="findById" resultType="cn.koala.system.entities.UserEntity">
    <include refid="selectUser"/>
    where t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value} and t.id = #{id}
  </select>

  <select id="findAll" resultType="cn.koala.system.entities.UserEntity">
    <include refid="selectUser"/>
    <if test="parameters.departmentId != null and parameters.departmentId != ''">
      left join system_user_department ud on ud.user_id = t.id
    </if>
    <where>
      t.is_delete = ${@cn.koala.mybatis.YesNo@NO.value}
      <if test="parameters.code != null and parameters.code != ''">
        and t.code like concat(#{parameters.code}, '%')
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        and t.name like concat(#{parameters.name}, '%')
      </if>
      <if test="parameters.departmentId != null and parameters.departmentId != ''">
        and ud.department_id = #{parameters.departmentId}
      </if>
    </where>
  </select>

  <select id="findAllRoleIdById" resultType="java.lang.Long">
    select role_id
    from system_user_role
    where user_id = #{id}
  </select>

  <insert id="updateRoleIdById">
    delete from system_user_role where user_id = #{id};
    <if test="!roleIds.isEmpty()">
      insert into system_user_role values
      <foreach item="roleId" index="index" collection="roleIds" separator=",">
        (#{id}, #{roleId})
      </foreach>
    </if>
  </insert>

  <select id="findAllDepartmentIdById" resultType="java.lang.Long">
    select department_id
    from system_user_department
    where user_id = #{id}
  </select>

  <insert id="updateDepartmentIdById">
    delete from system_user_department where user_id = #{id};
    <if test="!departmentIds.isEmpty()">
      insert into system_user_department values
      <foreach item="departmentId" index="index" collection="departmentIds" separator=",">
        (#{id}, #{departmentId})
      </foreach>
    </if>
  </insert>
</mapper>
