#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.repositories.ExampleRepository">

  <sql id="selectExample">
    select t.id, t.code, t.name, t.description
    from t_example t
  </sql>

  <select id="findAll" resultType="${package}.entities.ExampleEntity">
    <include refid="selectExample"/>
    <where>
      <if test="parameters.id != null and parameters.id != ''">
        t.id = ${symbol_pound}{parameters.id}
      </if>
      <if test="parameters.code != null and parameters.code != ''">
        and t.code = ${symbol_pound}{parameters.code}
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        and t.name = ${symbol_pound}{parameters.name}
      </if>
      <if test="parameters.description != null and parameters.description != ''">
        and t.description = ${symbol_pound}{parameters.description}
      </if>
    </where>
  </select>

  <select id="findById" resultType="${package}.entities.ExampleEntity">
    <include refid="selectExample"/>
    where t.id = ${symbol_pound}{id}
  </select>

  <insert id="add" parameterType="${package}.entities.ExampleEntity">
    insert into t_example
    values (${symbol_pound}{id}, ${symbol_pound}{code}, ${symbol_pound}{name}, ${symbol_pound}{description})
  </insert>

  <update id="update" parameterType="${package}.entities.ExampleEntity">
    update t_example
    set code        = ${symbol_pound}{code},
        name        = ${symbol_pound}{name},
        description = ${symbol_pound}{description}
    where id = ${symbol_pound}{id}
  </update>

  <delete id="delete" parameterType="${package}.entities.ExampleEntity">
    delete
    from t_example
    where id = ${symbol_pound}{id}
  </delete>
</mapper>
