<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.repositories.UserRepository">
  <resultMap id="userDetailsResultMap" type="cn.koala.system.entities.UserEntity">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <result property="avatar" column="avatar"/>
    <result property="email" column="email"/>
    <result property="phone" column="phone"/>
    <result property="isSystem" column="is_system"/>
    <result property="isEnable" column="is_enable"/>
    <result property="isDelete" column="is_delete"/>
    <result property="createTime" column="createTime"/>
    <result property="createUser.id" column="createUser.id"/>
    <result property="createUser.name" column="createUser.name"/>
    <result property="lastModifyTime" column="lastModifyTime"/>
    <result property="lastModifyUser.id" column="lastModifyUser.id"/>
    <result property="lastModifyUser.name" column="lastModifyUser.name"/>
    <result property="deleteTime" column="deleteTime"/>
    <result property="deleteUser.id" column="deleteUser.id"/>
    <result property="deleteUser.name" column="deleteUser.name"/>
    <collection property="roles" ofType="cn.koala.system.entities.RoleEntity">
      <id property="id" column="role.id"/>
    </collection>
  </resultMap>

  <select id="findByUsername" resultMap="userDetailsResultMap">
    select k.id,
    k.username,
    k.password,
    k.name,
    k.avatar,
    k.email,
    k.phone,
    <include refid="cn.koala.system.repositories.CommonRepository.baseEntityColumns"/>,
    r.id as "role.id"
    from k_user k
    left join k_user_role ur on ur.user_id = k.id
    left join k_role r on r.id = ur.role_id
    where k.is_delete=0 and k.username=#{username,jdbcType=VARCHAR}
  </select>
</mapper>
