<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.database.repositories.DatabaseRepository">

  <sql id="selectDatabase">
    select t.id,
           t.name,
           t.url,
           t.username,
           t.password,
           t.`catalog`,
           t.`schema`,
           t.is_enabled,
           t.is_systemic,
           t.is_deleted
    from t_database t
  </sql>

  <sql id="orderBy">
    <choose>
      <when test="orders != null and orders.size() > 0">
        <foreach collection="orders" item="order" index="index" open=" order by " close="" separator=",">
          <include refid="orderByField"/>
        </foreach>
      </when>
      <otherwise>
        order by t.id asc
      </otherwise>
    </choose>
  </sql>

  <sql id="orderByField">
    <if test="order.property == 'name'">
      t.name <include refid="cn.koala.mybatis.repository.CommonRepository.orderDirection" />
    </if>
    <if test="order.property == 'isEnabled'">
      t.is_enabled <include refid="cn.koala.mybatis.repository.CommonRepository.orderDirection" />
    </if>
  </sql>

  <select id="find" resultType="cn.koala.database.entities.DatabaseEntity">
    <include refid="selectDatabase"/>
    <where>
      t.is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value}
      <if test="name != null and name != ''">
        and t.name like concat(#{name}, '%')
      </if>
    </where>
    <include refid="orderBy"/>
  </select>

  <select id="findById" resultType="cn.koala.database.entities.DatabaseEntity">
    <include refid="selectDatabase"/>
    where t.id = #{id}
  </select>

  <insert id="create" parameterType="cn.koala.database.entities.DatabaseEntity" useGeneratedKeys="true"
          keyProperty="id">
    insert into t_database(id, name, url, username, password, `catalog`, `schema`)
    values (#{id}, #{name}, #{url}, #{username}, #{password}, #{catalog}, #{schema})
  </insert>

  <update id="update" parameterType="cn.koala.database.entities.DatabaseEntity">
    update t_database
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null">name=#{name},</if>
      <if test="url != null">url=#{url},</if>
      <if test="username != null">username=#{username},</if>
      <if test="password != null">password=#{password},</if>
      <if test="catalog != null">`catalog`=#{catalog},</if>
      <if test="schema != null">`schema`=#{schema},</if>
    </trim>
    where is_deleted = ${@cn.koala.persist.domain.YesNo@NO.value} and id=#{id}
  </update>

  <update id="delete" parameterType="cn.koala.database.entities.DatabaseEntity">
    update t_database
    set is_deleted = ${@cn.koala.persist.domain.YesNo@YES.value}
    where id = #{id}
  </update>
</mapper>
