<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.datamodel.mybatis.DataElementRepository">

  <sql id="selectDataElement">
    select t.id,
           t.code,
           t.content,
           p.id             as "property.id",
           p.type           as "property.type",
           t.data_record_id as "dataRecord.id"
    from t_data_element t
           left join t_property p on p.id = t.property_id
  </sql>

  <select id="findAll" resultType="cn.koala.datamodel.DataElementEntity">
    <include refid="selectDataElement"/>
    <where>
      <if test="parameters.dataRecordId != null and parameters.dataRecordId != ''">
        t.data_record_id = #{parameters.dataRecordId}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.datamodel.DataElementEntity">
    <include refid="selectDataElement"/>
    where t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.datamodel.DataElementEntity">
    insert into t_data_element
    values (#{id}, #{code}, #{content}, #{property.id}, #{dataRecord.id});
  </insert>

  <update id="update" parameterType="cn.koala.datamodel.DataElementEntity">
    update t_data_element
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="content != null">content=#{content},</if>
    </trim>
    where id = #{id};
  </update>

  <delete id="delete" parameterType="cn.koala.datamodel.DataElementEntity">
    delete
    from t_data_element
    where id = #{id};
  </delete>
</mapper>
