<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.datamodel.mybatis.DataRecordRepository">

  <sql id="selectDataRecord">
    select t.id,
           t.metadata_id as "metadata.id"
    from t_data_record t
  </sql>

  <select id="findAll" resultType="cn.koala.datamodel.DataRecordEntity">
    <include refid="selectDataRecord"/>
    <where>
      <if test="parameters.metadataId != null and parameters.metadataId != ''">
        t.metadata_id = #{parameters.metadataId}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.datamodel.DataRecordEntity">
    <include refid="selectDataRecord"/>
    where t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.datamodel.DataRecordEntity">
    insert into t_data_record
    values (#{id}, #{metadata.id});
  </insert>

  <update id="update" parameterType="cn.koala.datamodel.DataRecordEntity">
  </update>

  <delete id="delete" parameterType="cn.koala.datamodel.DataRecordEntity">
    delete
    from t_data_record
    where id = #{id};
  </delete>
</mapper>
