<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.datamodel.mybatis.PropertyRepository">

  <sql id="selectProperty">
    select t.id, t.code, t.name, t.description, t.type, t.metadata_id as "metadata.id"
    from t_property t
  </sql>

  <select id="findAll" resultType="cn.koala.datamodel.PropertyEntity">
    <include refid="selectProperty"/>
    <where>
      <if test="parameters.name != null and parameters.name != ''">
        t.code = #{parameters.name}
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        and t.name like concat(#{parameters.name}, '%')
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.datamodel.PropertyEntity">
    <include refid="selectProperty"/>
    where t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.datamodel.PropertyEntity">
    insert into t_property
    values (#{id}, #{code}, #{name}, #{description}, #{type}, #{metadata.id});
  </insert>

  <update id="update" parameterType="cn.koala.datamodel.PropertyEntity">
    update t_property
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="description != null">description=#{description},</if>
      <if test="type != null">type=#{type},</if>
    </trim>
    where id = #{id};
  </update>

  <delete id="delete" parameterType="cn.koala.datamodel.PropertyEntity">
    delete
    from t_property
    where id = #{id};
  </delete>
</mapper>
