<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.mybatis.DictionaryRepository">

  <sql id="selectDictionary">
    select t.id,
           t.code,
           t.name,
           t.description,
           t.is_delete
    from t_dictionary t
  </sql>

  <select id="findAll" resultType="cn.koala.system.DictionaryEntity">
    <include refid="selectDictionary"/>
    <where>
      t.is_delete = 0
      <if test="parameters.code != null and parameters.code != ''">
        and t.code like concat(#{parameters.code}, '%')
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        and t.name like concat(#{parameters.name}, '%')
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.DictionaryEntity">
    <include refid="selectDictionary"/>
    where t.is_delete = 0 and t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.system.DictionaryEntity">
    insert into t_dictionary(id, code, name, description)
    values (#{id}, #{code}, #{name}, #{description})
  </insert>

  <update id="update" parameterType="cn.koala.system.DictionaryEntity">
    update t_dictionary
    <trim prefix="set" suffixOverrides=",">
      <if test="code != null">code=#{code},</if>
      <if test="name != null">name=#{name},</if>
      <if test="description != null">description=#{description},</if>
    </trim>
    where is_delete = 0 and id=#{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.DictionaryEntity">
    update t_dictionary
    set is_delete = 1
    where id = #{id}
  </update>
</mapper>
