<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.mybatis.DictionaryRepository">

  <sql id="selectDictionary">
    select t.id,
           t.code,
           t.name,
           t.description
    from t_dictionary t
  </sql>

  <select id="findAll" resultType="cn.koala.system.DictionaryEntity">
    <include refid="selectDictionary"/>
    <where>
      <if test="parameters.code != null and parameters.code != ''">
        t.code = #{parameters.code}
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        t.name = #{parameters.name}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.DictionaryEntity">
    <include refid="selectDictionary"/>
    where t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.system.DictionaryEntity">
    insert into t_dictionary
    values (#{id}, #{code}, #{name}, #{description});
  </insert>

  <update id="update" parameterType="cn.koala.system.DictionaryEntity">
    update t_dictionary
    set code        = #{code},
        name        = #{name},
        description = #{description}
    where id = #{id}
  </update>

  <delete id="delete" parameterType="cn.koala.system.DictionaryEntity">
    delete
    from t_dictionary_item
    where dictionary_id = #{id};
    delete
    from t_dictionary
    where id = #{id};
  </delete>
</mapper>
