<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.mybatis.DictionaryItemRepository">

  <sql id="selectDictionaryItem">
    select t.id,
           t.name,
           t.content,
           t.is_delete
    from t_dictionary_item t
  </sql>

  <select id="findAll" resultType="cn.koala.system.DictionaryItemEntity">
    <include refid="selectDictionaryItem"/>
    <where>
      t.is_delete = ${@cn.koala.enhancement.YesNo@NO.value}
      <if test="parameters.name != null and parameters.name != ''">
        and t.name like concat(#{parameters.name}, '%')
      </if>
      <if test="parameters.dictionaryId != null and parameters.dictionaryId != ''">
        and t.dictionary_id = #{parameters.dictionaryId}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.DictionaryItemEntity">
    <include refid="selectDictionaryItem"/>
    where t.is_delete = ${@cn.koala.enhancement.YesNo@NO.value} and t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.system.DictionaryItemEntity">
    insert into t_dictionary_item(id, name, content, dictionary_id)
    values (#{id}, #{name}, #{content}, #{dictionary.id})
  </insert>

  <update id="update" parameterType="cn.koala.system.DictionaryItemEntity">
    update t_dictionary_item
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null">name=#{name},</if>
      <if test="content != null">content=#{content},</if>
    </trim>
    where is_delete = ${@cn.koala.enhancement.YesNo@NO.value} and id = #{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.DictionaryItemEntity">
    update t_dictionary_item
    set is_delete = ${@cn.koala.enhancement.YesNo@YES.value}
    where id = #{id}
  </update>

  <update id="deleteByDictionaryId">
    update t_dictionary_item
    set is_delete = ${@cn.koala.enhancement.YesNo@YES.value}
    where dictionary_id = #{dictionaryId}
  </update>
</mapper>
