<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.koala.system.mybatis.PermissionRepository">

  <sql id="selectPermission">
    select t.id,
           t.code,
           t.name,
           t.description,
           t.is_system
    from t_permission t
  </sql>

  <select id="findAll" resultType="cn.koala.system.PermissionEntity">
    <include refid="selectPermission"/>
    <where>
      <if test="parameters.code != null and parameters.code != ''">
        t.code = #{parameters.code}
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        and t.name = #{parameters.name}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.PermissionEntity">
    <include refid="selectPermission"/>
    where t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.system.PermissionEntity">
    insert into t_permission (id, code, name, description)
    values (#{id}, #{code}, #{name}, #{description})
  </insert>

  <update id="update" parameterType="cn.koala.system.PermissionEntity">
    update t_permission
    set code        = #{code},
        name        = #{name},
        description = #{description}
    where id = #{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.PermissionEntity">
    delete
    from t_permission
    where id = #{id}
  </update>
</mapper>
