<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.mybatis.RoleRepository">

  <resultMap id="roleResultMap" type="cn.koala.system.RoleEntity">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <collection property="permissions" ofType="cn.koala.system.PermissionEntity">
      <id property="id" column="permission.id"/>
      <result property="code" column="permission.code"/>
      <result property="name" column="permission.name"/>
    </collection>
  </resultMap>

  <sql id="selectRole">
    select t.id,
           t.code,
           t.name,
           t.description
    from t_role t
  </sql>

  <sql id="deleteRolePermission">
    delete
    from t_role_permission
    where role_id = #{id};
  </sql>

  <sql id="addRolePermission">
    <if test="permissions != null">
      <foreach item="item" index="index" collection="permissions" open="" separator="" close="">
        insert into t_role_permission values (#{id}, #{item.id});
      </foreach>
    </if>
  </sql>

  <select id="findAll" resultType="cn.koala.system.RoleEntity">
    <include refid="selectRole"/>
    <where>
      <if test="parameters.code != null and parameters.code != ''">
        t.code = #{parameters.code}
      </if>
      <if test="parameters.name != null and parameters.name != ''">
        and t.name = #{parameters.name}
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.RoleEntity">
    select t.id,
           t.code,
           t.name,
           t.description,
           permission.id,
           permission.code,
           permission.name
    from t_role t
           left join t_role_permission rp on rp.role_id = t.id
           left join t_permission permission on permission.id = rp.permission_id
    where t.id = #{id}
  </select>
  <insert id="add" parameterType="cn.koala.system.RoleEntity">
    insert into t_role
    values (#{id},
    #{code},
    #{name},
    #{description});
    <include refid="addRolePermission"/>
  </insert>
  <update id="update" parameterType="cn.koala.system.RoleEntity">
    update t_role
    set code = #{code},
    name = #{name},
    description = #{description}
    where id = #{id};
    <include refid="deleteRolePermission"/>
    <include refid="addRolePermission"/>
  </update>
  <update id="delete" parameterType="cn.koala.system.RoleEntity">
    delete
    from t_role
    where id = #{id};
    delete
    from t_role_permission
    where role_id = #{id};
  </update>
</mapper>
