<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.mybatis.UserDepartmentRepository">

  <select id="findAllDepartmentIdByUserId" resultType="java.lang.String">
    select department_id
    from t_user_department
    where user_id = #{userId}
  </select>

  <insert id="add">
    insert into t_user_department values
    <foreach item="departmentId" index="index" collection="departmentIds" separator=",">
      (#{userId}, #{departmentId})
    </foreach>
  </insert>

  <delete id="deleteByUserId">
    delete
    from t_user_department
    where user_id = #{userId}
  </delete>
</mapper>
