<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.mybatis.UserDetailsRepository">

  <resultMap id="userDetailsResultMap" type="cn.koala.system.UserDetailsEntity">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="nickname" column="nickname"/>
    <result property="avatar" column="avatar"/>
    <collection property="permissionCodes" ofType="java.lang.String">
      <result column="permission.code"/>
    </collection>
  </resultMap>

  <select id="findByUsername" resultMap="userDetailsResultMap">
    select t.id,
           t.username,
           t.password,
           t.nickname,
           t.avatar,
           permission.code as "permission.code"
    from t_user t
           left join t_user_role ur on ur.user_id = t.id
           left join t_role role on role.id = ur.role_id
           left join t_role_permission rp on role.id = rp.role_id
           left join t_permission permission on permission.id = rp.permission_id
    where t.username = #{username}
  </select>
</mapper>
