<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.koala.system.mybatis.UserRepository">
  <sql id="selectUser">
    select t.id,
           t.username,
           t.password,
           t.nickname,
           t.avatar,
           t.is_system,
           t.is_delete
    from t_user t
  </sql>

  <select id="findAll" resultType="cn.koala.system.UserEntity">
    <include refid="selectUser"/>
    <where>
      t.is_delete = 0
      <if test="parameters.username != null and parameters.username != ''">
        and t.username like concat(#{parameters.username}, '%')
      </if>
      <if test="parameters.nickname != null and parameters.nickname != ''">
        and t.nickname like concat(#{parameters.nickname}, '%')
      </if>
      <if test="parameters.departmentId != null and parameters.departmentId != ''">
        and t.id in (select user_id from t_user_department where department_id = #{parameters.departmentId})
      </if>
      <if test="parameters.roleId != null and parameters.roleId != ''">
        and t.id in (select user_id from t_user_role where role_id = #{parameters.roleId})
      </if>
    </where>
  </select>

  <select id="findById" resultType="cn.koala.system.UserEntity">
    <include refid="selectUser"/>
    where t.is_delete = 0 and t.id = #{id}
  </select>

  <insert id="add" parameterType="cn.koala.system.UserEntity">
    insert into t_user(id, username, password, nickname, avatar)
    values (#{id},
            #{username},
            #{password},
            #{nickname},
            #{avatar})
  </insert>

  <update id="update" parameterType="cn.koala.system.UserEntity">
    update t_user
    <trim prefix="set" suffixOverrides=",">
      <if test="username != null">username=#{username},</if>
      <if test="nickname != null">nickname=#{nickname},</if>
      <if test="avatar != null">avatar=#{avatar},</if>
    </trim>
    where is_delete = 0 and id = #{id}
  </update>

  <update id="delete" parameterType="cn.koala.system.UserEntity">
    update t_user
    set is_delete = 1
    where id = #{id}
  </update>
</mapper>
